div{
    width: 100%;
    max-width: 500px;
    max-height: 200px;
    overflow:hidden;
    overflow: scroll;
    float:left;
    border:10px solid blue;
    /* padding: 25px 15px 20px 10px; */
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 10px;
    margin: 40px;
    background-color:yellow
}
div:nth-child(2n){
    background-color:rgb(199, 40, 160);
    background: url(../../curs3/download.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:50%;
}
div>p{
    color:blue;
    text-align: center;
}
div p span{
    color:red
}